a{
  all: unset;
}

.res-Card{
  /*display: flex;*/
  padding: 20px;
  transition: all .2s ease-in-out;
}

.res-Card:hover{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  transform: scale(1.1);
  cursor: pointer;
}

.listImage {
  width: 200px;
  height: auto;
}
