#navigation{
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.foodButton{
  background: none;
  border: none;
  outline: none;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.foodButton:hover{
  transform: scale(1.2);
}
